<!doctype html>
<html class='no-js' lang=''>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <title>Baseball Karma</title>
    <meta name='description' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href='https://fonts.googleapis.com/css?family=Mako' rel='stylesheet'>
    <link rel='stylesheet' href='css/main.css'>
</head>

<body>
    <!--[if lt IE 8]>
            <p class='browserupgrade'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <header>
        <div class='logo'>Baseball Karma</div>
        <div class='account'>Account</div>
    </header>

    <div class='main-container'>
        <div class='main'>
            <div class='main-header'>
                <div class='spacer'>Spacer</div>
                <div class='header-account'>
                    <h1>Alex's Account</h1>
                </div>
                <div class='new-pledge'>
                    <button class='pledge-button'>New Pledge</button>
                </div>
            </div>
            <div class='pledge-list'>

<ul class="pledge-item">
      <li class="team">
        <div class="dropdown">
            <button onclick="dropdownTeam()" class="dropbtn team-button">Team</button>
            <div id="myDropdown-team" class="dropdown-content">
                <% @teams.each do |team| %>
                    <a href="#"><button class='team-name' id= <%= team.nickname %>><%= team.nickname %></button></a>
                <% end %>
            </div>
        </div>
      </li>
      <li class="player">
        <div class="dropdown">
            <button onclick="dropdownPlayer()" class="dropbtn">Player</button>
            <div id="myDropdown-player" class="dropdown-content">
                <% @players.each do |player| %>
                    <a href="#"><button class='team-name'><%= player.player.name %></button></a>
                <% end %>
            </div>
        </div>
      </li>
      <li class="stat">
        <div class="dropdown">
            <button onclick="dropdownStat()" class="dropbtn">Stat</button>
            <div id="myDropdown-stat" class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
      </li>
      <li class="dollars"><input type="text" placeholder="$$$" size="5"></input></li>
      <li class="charity"><input type="text" placeholder="Charity" size="5"></input></li>
      <li class="add-pledge"><button class="addpledge-button">Add Pledge!</button></li>
  </ul>

                <ul class='pledge-item'>
                    <li class='team'>Team</li>
                    <li class='player'>Player</li>
                    <li class='stat'>Stat</li>
                    <li class='dollars'>$$$$</li>
                    <li class='charity'>Charity</li>
                    <li class='delete'><button class='delete-button'>X</button></li>
                </ul>
                <ul class='pledge-item'>
                    <li class='team'>Team</li>
                    <li class='player'>Player</li>
                    <li class='stat'>Stat</li>
                    <li class='dollars'>$$$$</li>
                    <li class='charity'>Charity</li>
                    <li class='delete'><button class='delete-button'>X</button></li>
                </ul>
                <ul class='pledge-item'>
                    <li class='team'>Team</li>
                    <li class='player'>Player</li>
                    <li class='stat'>Stat</li>
                    <li class='dollars'>$$$$</li>
                    <li class='charity'>Charity</li>
                    <li class='delete'><button class='delete-button'>X</button></li>
                </ul>
                <ul class='pledge-item'>
                    <li class='team'>Team</li>
                    <li class='player'>Player</li>
                    <li class='stat'>Stat</li>
                    <li class='dollars'>$$$$</li>
                    <li class='charity'>Charity</li>
                    <li class='delete'><button class='delete-button'>X</button></li>
                </ul>
                <ul class='pledge-item'>
                    <li class='team'>Team</li>
                    <li class='player'>Player</li>
                    <li class='stat'>Stat</li>
                    <li class='dollars'>$$$$</li>
                    <li class='charity'>Charity</li>
                    <li class='delete'><button class='delete-button'>X</button></li>
                </ul>
            </div>
        </div>
    </div>

    <script src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
    <script src='js/main.js'></script>
</body>

</html>
