<h3>All Pledges</h3>
<ul>
<% @pledges.each do |pledges| %>
  <li>
    <%= pledges.player_id %> <%= pledges.stat_category %> <%= pledges.donation_amount %>
  </li>
<% end %>
</ul>
<a href="/">Back to Home</a>
